openapi: "3.0.3"
info: 
  title: "Account Authentication Service"
  description: "Account Authentication Service offers real time verification of account ownership, by matching account owner data such as Account Name, SSN, DOB, Account Number, and Routing Number. Calling parties access Account Authentication Service by invoking APIs. On receipt of the account authentication information provided by the Service, the calling party uses the verified information to either carry out risk assessment or take suitable action as may be deemed fit. "
  version: "1.0"
  contact:
    name: "Technical Support"
    email: support@xxxxx.com
servers:
  - url: https://ew.xxxxxx.com/ew/rest/inquire
    description: "URL for access via TCP/IP Client, Production Environment"
  - url: https://connectors.xxxxxxx.com:8443/ew/rest/inquire
    description: "Sandbox environment"
  - url: nats://xx:xxxxxx1111@70.163.40.38:4222 
    description: "NATS Messaging System"
  - url: nats://xx:xxxxxx1111@70.163.40.38:4223 
    description: "NATS Messaging System"  
paths:
  /accountInquiry:
    get:
      tags:
        - accountInquiry
      summary: Example of JSON-RPC2 Get
      description: Example get using JSON-RPC params.
      parameters: 
      - name: method
        in: query
        description: "Method name"
        schema:
          type: string
      - name: id
        in: query
        description: "Request ID"
        schema:
          type: integer
      - name: jsonrpc
        in: query
        description: "JSON-RPC Version (2.0)."
        schema:
          type: string  
      - name: params
        in: query
        description: "Params comprises API and Payload. The API carries the Authentication Parameters, and the Payload carries the Requested Parameters by the Customer"
        schema:
          type: object
          required:
            - api
            - payload
          description: The actual data in a specified format, that is transmitted alongwith protocol overhead when interacting with applications  
          properties:
              api:
                type: object
                required:
                  - credential
                  - signature
                properties:
                  credential:
                    type: string
                    description: user credentials used to authenticate the user request
                    example: "BasichyaXN0b3B0ZXIubXVycmF5QGRlcG9zaXQtc 29sdXRpb25zLmNgbTo5MjUwNThiZGQ5MDU0ZDcxOTJmNDhh NTE4ZjQzZrk4NQ=="
                  signature:
                    type: string
                    description: A unique API key  
                    example: "MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEH
                      BG0wawIBAQQg0nSRl9qZvY5mFY6W"
              payload:
                type: object
                description: The Fields in the Payload used for the purpose of eliciting a response from the AOA service. Early Warning evaluates the Account information. Account Inquiry includes Account level information - Account, Account number, routing number and fee Attributes / Channel Indicator.
                required:
                  - Type
                  - accountNumber
                  - routingNUmber
                  - freeAttrib
                properties:
                  Type:
                    type: string
                    description: Refers to the validation of ‘Type of Inquiry’ – Valid values are ACCOUNT,
                      OWNER, or BOTH 
                    example: ACCOUNT
                  accountNumber:
                    type: integer
                    description: Refers to the account number –containing only digits; a minimum of 4 digits to a maximum of 17 digits
                    example: "61231234340"
                  routingNumber:
                    type: integer
                    description: Bank routing number is a nine-digit numeric ID that is assigned to Banks. This unique code indicates the location of the US Bank, and is printed on the bottom of checks.   
                    example: "122199983"
                  freeAttrib:
                    type: string
                    description: Refers to the Fee Attributes. Valid values are AA, BB, CC, DD, EE, FF, GG, HH,II, NT, NA, NR, NW. Refer Appendix B for list of values and their interpretations.
                    enum:
                      - AA RDC All
                      - BB RDC Consumer Home
                      - CC RDC Consumer Mobile
                      - DD RDC Small Business
                      - EE Branch/Teller
                      - FF ATM
                      - GG Lockbox/Mail/Corporate
                      - HH ACH - Deposit
                      - II Correspondent representment transaction
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                 $ref: '#/components/schemas/accountInquiry'  
components:
  schemas:
    accountInquiry:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
          description: Identification Number sent by the customer
        result:
          type: object
          format: int64
          example: 198772
          description: Response Parameters sent by Early Warning in response to Customer's request
        ownerstatus:
          type: integer
          format: int32
          example: C900
          description: Eg. C000, where C is the match code and 000 is the participant status code. Refers to the Owner status code – a four-character code with the first character being a letter, followed by 3 numbers; e.g. C000, where C is the match code and 000 is the condition code. The match code depends on the overall match for name, address, SSN, DOB and other details provided for verification. The match codes received can be one of the following
            Y = The inquiry field closely or exactly matches the database.
            C = The inquiry field conditionally (partially) matches the     database. 
            N = The inquiry field does not match the database.
            U = No identifying data is available in the database for the account provided.
            The remaining three characters of the owner status response is a code known as the participant status code. The code indicates the high level account status and indicates whether the inquiry resulted in a hard or soft hit. The following participant status codes may be returned by Early Warning
            Soft  000  Not Located  Account requested for verification does not exist on the Contributor's master account file. This condition may indicate an account number misread or a potentially fraudulent item.
            Hard  002  Closed For Cause  A transaction account which has been closed by Contributor FSO as a result of unacceptable use by the customer. This judgment is made by the FSO in accordance with its transaction account policies.
            Hard  003  Closed for  Account has been removed from the Contributor's master Cause/Purged  account file. Account will be retained by Early Warning until reissued by the Contributor
            Hard  004  Stop Payment  A check inquiry (transit item) where all four MICR fields (ABA,4 Field Individual  account number, serial number, and dollar amount) match an individual/Match  unique stop-payment record in the National Shared Database  resource.
            Hard 005 Stop Payment A check inquiry (transit item) where all four MICR fields (ABA, 4 Field Range account number, serial number and dollar amount) match a range of stop- Match  payment records in the Database.
            Hard  006  Stop Payment ¾  A check inquiry (transit item) where three MICR fields (ABA,Individual  account number, and serial number) match an individual/ unique stop- payment record in the Database.
            Hard  007  Stop Payment ¾  A check inquiry (transit item) where three MICR fields (ABA,  Range  account number, and serial number) match a range stop-payment record in the Database.
            Hard  010  Post No Debits  Account will not accept any debit activity.
            Hard  013  Closed/Purged  Account has been closed and removed from Contributor's master account file. Account will be retained by Early Warning until the first occurrence of Three years from the date account originally closed Account is reissued by Contributor.
            Hard  014  Pending Closed  Account was closed in the last processing cycle. This status will automatically change to a Status 012 in the next processing cycle unless modified by the contributing FSO.
            Hard  0151  Return Item  High probability of return.
            Soft  0161  Account  Moderate probability of return.
            Hard  020      Available balance less than zero, with,
                 X = Consecutive days in OD status.
                 021  Enhanced OD  
                 Y = Time account has been on the books.
                 022  
            Soft  028  Divested Account  Account has been purchased or assumed by another FSO and
             – Purged  has been removed from Contributor’s master account file. The account will be retained by Early Warning for six months.
            Soft  030  Overdrawn  Available balance less than zero. Activity may post upon review.
            Soft  031  Overdrawn New  Available balance less than zero, and account opened within Account  prior 60 days. Activity may post upon review.
            Soft  032  Uncollected Funds  Collected balance less than zero. Activity may post upon review.
            Soft  033  UCF/New Account  Collected balance less than zero and account opened within prior 60 days. Activity may post upon review. 
            Soft  034  Dormant/Inactive  Account dormant or inactive. Activity may post upon review.
            Soft  035  Deceased  Account holder deceased. Activity may post upon review.
            Soft  036  Lost/Stolen  Account holder reported check(s) lost or stolen. Activity mayCheck(s)  post upon review.
            Soft  037  Attached  Account subject to levy, garnishment, government reclamation,lien, court order or other restriction of limited amount. Activity  may post upon review.
            Soft  038  Divested Account  An account purchased or assumed by another FSO.
            Informational  040  New Account  Account opened between 8-60 days. (8-60)
            Informational  041  New Account  Account opened between 0-7 days.  (0-7)
            Informational  042  New Account (61-  Account opened between 61-120 days. 120)
            Informational  043  New Account (121-  Account opened between 121-180 days. 180)
            Informational  055  Official Item  Cash-equivalent item such as official check, cashier's check, or teller check.
            Informational  080  Credit Card Check  Item drawn on non-DDA that is posted to a credit card account and/or drawn against a credit card FSO.
            Informational  081  Participant Line of  Item drawn on non-DDA and is posted to a credit line account.  Credit Check  The drawee FSO is a Contributor to the Database.
            Informational  082  Participant Home  Item drawn on non-DDA and is posted to a home equity  Equity Check  account. The drawee FSO is a Contributor to the Database.
            Informational  084  Participant Broker  Item drawn on non-DDA and is posted to a brokerage account Check and/or drawn against a broker-only FSO. The drawee FSO is a Contributor to the Database.Informational  096  No Known  No positive or negative information is known about the item.  Information
            Informational  098  Non-DDA  Item drawn on a non-DDA and not included in statuses 080, 081, 082, and 084.
            Informational  099  Present  Account is present in Contributor's master account file and  contains no other status code. Typically, these are accounts  with positive balances.
            Hard  102  Savings Closed for  A savings account which has been closed by the Contributor Cause  FSO as a result of unacceptable use by the customer. This judgment is made by the FSO in accordance with its transaction account policies.
            Hard  103  Savings Closed for  Closed for Cause savings account has been removed from the Cause/ Purged  Contributor's master account file. Account will be retained by Early Warning until reissued by the Contributor.
            Hard  104  Savings Stop  A savings inquiry where all four MICR fields (ABA, account number, Payment 4 Field  serial number and dollar amount) match an individual/ unique stop-  Individual Match  payment record in the Database.
            Hard  105  Savings Stop  A savings inquiry where all four MICR fields (ABA, account number,Payment 4 Field  serial number and dollar amount) match a range of stop-payment Range Match  records in the Database.
            Hard  106  Savings Stop  A savings inquiry where all three MICR fields (ABA, account number,Payment ¾  and serial number) match an individual/unique stop-payment record in Individual  the Database.
            Hard  107  Savings Stop  A savings inquiry where three MICR fields (ABA, account number, and Payment ¾ Range  serial number) match a range stop-payment record in the Database.
            Hard  110  Savings Post No  Savings account will not accept any debit activity.Debits 
            Hard  112  Savings Closed  Savings account closed.
            Hard  113  Savings  Savings account has been closed and removed from Closed/Purged  Contributor’s master account file. Account will be retained by Early Warning until the first occurrence of, Three years from the date account originally closed       Account is reissued by Contributor.
            Hard  114  Savings Pending  Savings account is closed. Account was closed in the last Closed  processing cycle. This status will automatically change to a Status 112 in the next processing cycle unless modified by the contributing FSO.
            Soft  128  Savings Divested  A savings account purchased or assumed by another FSO and Account/Purged  removed from the Contributor's master account file. The Account will be retained by Early Warning for six months.
            Soft  130  Savings  Savings account available balance less than zero. Activity may Overdrawn  post upon review.
            Soft  132  Savings  Savings account collected balance less than zero. Activity mayUncollected Funds  post upon review.
            Soft  133  Savings UCF/New  Savings account collected balance less than zero and account  Account  opened within prior 60 days. Activity may post upon review.
            Soft  134  Savings  Savings account dormant or inactive. Activity may post upon  Dormant/Inactive  review.
            Soft  135  Savings Deceased  Savings account holder deceased. -Activity may post upon  review.
            Soft  137  Savings Attached  Savings account subject to levy, garnishment, government reclamation, lien, court order or other restriction of limited amount. Activity may post upon review.
            Soft  138  Savings Divested  Savings account purchased or assumed by another FSO.Account
            Informational  140  Savings New  Savings account opened between 8-60 days.  Account (8-60)
            Informational  141  Savings New  Savings account opened between 0-7 days.  Account (0-7)  
            Informational  142  Savings New  Savings account opened between 61-120 days.Account (61-120)
            Informational  143  Savings New  Savings account opened between 121-180 days.Account (121-180)  
            Informational  199  Savings Present  Savings account is present in the Contributor’s master account file and contains no other status codes. These are typically  accounts with positive balances.
        matchresult:
          type: object
          description: This object is returned with all null values because none of information below is passed in the account only inquiry. This object is returned with all null values because none of information below is passed in the account only inquiry.
            Refers to the match result object 
          properties:
            firstname:
              type: string
              description: First name of the Account Holder
              example: Null {}
            lastname:
              type: string
              description: Last name of the Account Holder
              example: Null {}
            businessname:
              type: string
              description: name of the Organization
              example: Null {}
            ssn:
              type: string
              description: Unique 9-digit Social Security Number that of the Account Holder that is the national identification number used for taxation and related purposes
              example: Null {}
            dob:
              type: string
              description: Date of birth of Account Holder
              example: Null {}
            city:
              type: string
              description: Name of the city where the Account Holder resides
              example: Null {}
            address:
              type: string
              description:  Account Holder’s address 
              example: Null {}
        priAccountStatus:
          type: string
          description: Primary account status code 
          example: S130
        secAccountStatus:
          type: string
          description: Secondary account status code
          example: "000"
        addAccountStatus:
          type: string
          description: Additional account status code
          example: "000"
        errorCode:
          type: string
          description: Error Code
          example: "0"
        status:
          type: string
          description: Request Status indicating that the request and the response were sent and received successfully, respectively.
          example: OK
        