```bash
PAYPAL_CLIENT_ID=AagtwA5xctumBRNOclvual_XoWsV0X4B9t_M74vF6jJWY-iEpTBvvKovYY-hyZKpxbeaPYF1YXYd5aAm
PAYPAL_SECRET=EEW1lY56yg2ot1z0_c-Y8cmh8n9PXRuL0gd69nI8k_U8jbdczzCK0ZDRQIBmy63V_ZnFmsyBCe9879qK

